@import "../styles/base.scss";
.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-yellow;
  min-height: 100vh;
  min-width: 100vw;
  overflow: scroll;
  .cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-right: 0;
    width: 70%;
    margin-top: 80px;
  }
  .add-currency {
    height: 60px;
    width: 200px;
    color: black;
    margin-top: 60px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 350;
    box-shadow: 0 8px 13px rgba(black, 0.16);
    cursor: pointer;
    user-select: none;
    transition: box-shadow 0.15s, background-color 0.05s;
    margin-bottom:15px;
  }
}